// custom fonts

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');


// Home Page
// @import './components/main-navigation';
// @import './components/main-navigation2';
@import './components/main-navigation3';
@import './components/main-hero';
@import './components/kaupapa';
@import './components/feature-article-section';
@import './components/highlights-section';
@import './components/logo-gallery';
@import './components/panui-section';
@import './components/main-footer';

//contact page
@import './components/contact';

// Article Items
@import './components/article-item';

// membership Information
@import './components/membership';

// About Section
@import './components/who-are-we';

// Full width image
@import './components/full-width-image';

// Breadcrumbs
@import './components/breadcrumbs';

// Registration
@import './components/registration';

// Younge Champions
@import './components/young-champions';

// Younge Champions
@import './components/registration-interest';

// Calendar
@import './components/calendar';


//make all page have top margin to account for navigations
.super-content-wrapper {
  margin-top: rem-calc(160);
}

// Custom Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

// full width sections
.full-width-section {
  width: 100%;
}

// Margin for all body content
.content-wrapper {
margin: rem-calc(0) 0 rem-calc(40) 0;
}

@media screen and (min-width: 40em) {
  .content-wrapper {
  margin: rem-calc(40) 0 rem-calc(60) 0;
  }
}

// general typography
.post-date {
  color: $dark-gray;
}

// change opacity on images
.image-fade:hover {
    opacity: 0.9;
}

// Horizontal rulers
.horizontal-ruler {
  background: #000;
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(15);
}
.horizontal-ruler-short {
  background: #000;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
}

.horizontal-ruler-thin {
  background: #000;
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(40);
  height: 1px;
}

//links that are inside body
.body-link {
  color: $te_awe-red;
}

// Social share widget
.social-share {
  p {
    color: $dark-gray;
    margin-bottom: rem-calc(5);
  }
  .menu {
    a {
      width: rem-calc(50);
      padding: 0 rem-calc(10) rem-calc(20) 0;
    }
  }
}

//article image widget
.article-image {
  margin: rem-calc(30) 0 rem-calc(40);
  p {
    margin-top: rem-calc(8);
    font-size: rem-calc(14);
    color: $dark-gray;
  }
}

// Buttons
.subscribe-btn {
  background: darken($te-awe-red, 10%);
  width: rem-calc(180);
  border-radius: rem-calc(2);
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe-btn:hover {
  background: darken($te-awe-red, 20%);
}

.registration-btn {
  background: $te-awe-red;
  padding: rem-calc(15) rem-calc(30);
  border-radius: rem-calc(2);
  font-weight: bold;
  text-transform: uppercase;
}

.registeration-btn:hover {
    background: darken($te-awe-red, 10%);
}

//typography
//----------
.main-heading {
  margin: rem-calc(20) 0 rem-calc(20) 0;
  line-height: 2rem;
  font-size: rem-calc(30);

  span {
    font-family: helvetica;
    font-size: rem-calc(16);
    color: $te_awe-red;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media screen and (min-width: 40em) {
  .main-heading {
    font-size: rem-calc(50);
    margin-bottom: rem-calc(30);
    line-height: 2.4rem;
    span {
      font-size: rem-calc(25);
      line-height: rem-calc(40);
    }
  }
}

// block quote
.block-quote {
  font-size: rem-calc(18)!important;
  font-weight: bold;
  font-style: italic;
  line-height: 1.8rem;
  padding-left: rem-calc(20);
  border-left: 4px solid $te_awe-red;
}

@media screen and (min-width: 40em) {
  .block-quote {
    line-height: 2.1rem;
    font-size: rem-calc(24)!important;
  }
}
