<div class="committee-member-item">
  <h5><strong>Ty Kahu (Ngati Kahungunu)</strong></h5>
  <p>As the Managing Director for Pentech, Ty is responsible for setting the company’s direction and strategy. He also oversees Pentech’s operational management processes, ensuring he understands the business across the board. His IT-based, technical background is tempered with recently acquired business acumen which he uses to empower Pentech people to deliver company goals and fulfil customer expectations.</p>
  <p>Ty says that his greatest achievement, and where he is most whakahīhī are his children and “te āporo ō tōna karu”, his mokopuna. </p>
  <p>When not bouncing around new business ideas and resources, Ty will can be found coaching secondary school volleyball or enjoying the occasional game out on the court.</p>
  <p><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 021 276-5995</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:ty.kahu@pentech.co.nz">ty.kahu@pentech.co.nz</a></strong></span></p>
  <hr>
</div>
