
<div class="committee-member-item">
  <h5><strong>Ty Kahu (Ngati Kahungunu)</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>As the Managing Director for Pentech, Ty is responsible for setting the company’s direction and strategy. He also oversees Pentech’s operational management processes, ensuring he understands the business across the board. His IT-based, technical background is tempered with recently acquired business acumen which he uses to empower Pentech people to deliver company goals and fulfil customer expectations.</p>
        <p>Ty says that his greatest achievement, and where he is most whakahīhī are his children and “te āporo ō tōna karu”, his mokopuna. </p>
        <p>When not bouncing around new business ideas and resources, Ty will can be found coaching secondary school volleyball or enjoying the occasional game out on the court.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 021 276 5995</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:ty.kahu@pentech.co.nz">ty.kahu@pentech.co.nz</a></strong></span></p>
  <hr>
</div>


<div class="committee-member-item">
  <h5><strong>Paul Retimanu</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Paul is our Events Coordinator and ideally suited to the task having hosted numerous events, functions and conferences as Director of Manaaki Management.</p>
        <p>Paul Retimanu entered the industry as a bartender and by the age of 24 was already managing 40 staff as the catering manager of a large, five-star hotel. "That's the great thing about hospitality," he say, "you can move up the chain quickly and still be quite young, as long as you show your initiative and are prepared to work hard."</p>
        <p>These days, in between juggling the demands of seven children, Paul and his wife Keri own and run Manaaki Management which provides full event and venue management of Te Raukura - te Wharewaka o Poneke including Karaka Café, Pipitea Marae and The Lodge at Shelly Bay. Manaaki (meaning – “to look after”) is a full venue management operation,providing services for all your venue needs including facility management,venue bookings, function and event planning, theming, food and beverage requirements.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 2186</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:paul@manaakitanga.co.nz">paul@manaakitanga.co.nz</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Wayne Johnston</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Wayne was elected into the membership committee in June 2013 to grow Te Awe Sponsorship and Memberships. He has spent the greater part of his working years in the corporate world building a business success story that is second to none! His working life started on the factory floor, literally, as a cleaner in the Dunlop tyre factory. From this humble start Wayne systematically climbed his way through the company holding down jobs as a tyre fitter, General Manager (Sales and Marketing), NZ Manager South Pacific Tyres and finally, Vice President Sales Australasia for Good Year Dunlop. His job was to manage all of the Beaurepairs, Goodyear and Dunlop exports to 30 countries from his office base in Melbourne. Remember the Vince Martin advertisement – this was one of Wayne’s campaigns!</p>
        <p>Wayne is a family man; father of two and grandfather of two since 2008, has turned his business acumen to the running of two major whanau owned businesses. One in residential sales (housing) and one in Audio Visual services (AV Media NZ Limited).</p>
        <p>Wayne has joined the Te Awe Board because he wants to give something back to the Maori world that he is a part of. In Te Awe he has found a vehicle to do just that. The Te Awe Board is very lucky to have a man of Wayne’s calibre and experience who is willing to give some of his valuable time and experience to helping others through the Te Awebusiness network.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 2186</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:wayne@avmedia.co.nz">wayne@avmedia.co.nz</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Doris Kaua (Te Atihaunui a Paparangi and Ngati Ka hungunu ki Wairarapa)
  Maori and Pasifika Engagement Manager - ServiceIQ</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Among other interests Doris currently leads ServiceIQ’s engagement with Maori and Pasifika people to encourage their participation, qualification completion and achievement in training and workforce development across the Accommodation, Aviation, Tourism, Travel, Museums, Hospitality, Retail and Wholesale sectors.</p>
        <p>Doris’s experience to date has been varied, interesting, exciting, rewarding and challenging. She has had just over 26 years public service experience, five years as a full-time university student, three years in the private/business sector, three years in the NGO sector and over four years in the ITO sector. Doris has strong cultural beliefs, values and experience, and coupled with her work experience provides her with a unique edge in her approach to work. Doris is comfortable and confident in both the Maori and non-Maori world, has a “can-do” attitude and an innate ability and drive to simply “get on with the job”.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 556 6883 </span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:doris.Kaua@serviceiq.org.nz">doris.Kaua@serviceiq.org.nz</a></strong></span></p>
  <hr>
</div>


<div class="committee-member-item">
  <h5><strong>Horiana MacGregor (Ngāti Kahungunu, Ngāti Raukawa, Cook Island)</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Providing back office support (secretarial, office, treasurer and event support) to Te Awe since 2015. Horiana became part of Te Awe through Kāhui Tautoko Ltd and thoroughly enjoys being part of a roopu that is deeply passionate about Māori, Māori in business and rangatahi.</p>
        <p>Horiana has a strong administration background and has worked for Government for more then 16+ years and more recently provides back office support to a number of small Māori NGO’s working from home. This provides Horiana the opportunity to be able to raise her young whānau while working from home and being able to support them at Kōhanga Reo, Kura and College.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 9790 </span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:horiana@harikoaora.co.nz">horiana@harikoaora.co.nz</a></strong></span></p>
  <hr>
</div>


<div class="committee-member-item">
  <h5><strong>Doug Hauraki (Ngati Porou, Ngati Kahungunu and Nga Puhi)</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Doug has over 40 years of management experience in a wide variety of public and private sector positions including many years as the Chief Executive of Maori Education Trust, Chief Executive of Aotearoa Traditional Maori Performing Arts Society, Deputy Maori Trustee, National Director Maori Development in the Department of Social Welfare and senior roles in Maori Affairs.</p>
        <p>Doug is fluent speaker of Te Reo and has his own translation company. He has a BA and a Diploma in Social Work.</p>
        <p>Doug has wide networks within Maoridom and in the business and academic world generally. Doug is married to Betty, has three grown up children and five mokopuna.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:doug@haurakiwhanau.co.nz">doug@haurakiwhanau.co.nz</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Donyale Hema (Ngati Kahungunu ki te Wairoa)</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Donyale Hema is a proud entrepreneur with her full life in Wellington. Her background is Music, television and film. Her effort’s on Lord of the Rings trilogy for Weta Digital as an Accounts assistant to begin with and later as Facility Manager on “Return of the King” led her to setting up a bottled water company “Hema Water” which is Aotearoa’s Indigenous bottled Water Company www.hemawater.co.nz</p>
        <p>Donyale’s other business is Principal of LinchPin Aotearoa www.linchpin.co.nz – A specialist Maori Business Recruitment practice.</p>
        <p>Donyale is passionate about business and young people. Her three adult children are her favourite past-time.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:donyale@linchpin.co.nz">donyale@linchpin.co.nz</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Bill Wiremu Tutepuaki Kaua JP (Ngati Porou, Te Whanau a Mahaki, Ngati Horowai, Te Aitanga a Hauiti, Rongowhakaata, Nga Tamanuhiri, Te Aitanga a Mahaki, Ruapani, Ngati Kahungunu, Rakaipaaka)</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Bill had a distinguished career, in the public service having held senior positions for many years, gaining extensive experience and knowledge. The opportunity to build an extensive network of people during that time was profound. When required he is still able to draw on the expertise of the many people whom he has maintained contact with.</p>
        <p>More lately moving into the private sector, he and his wife Doris co-founded Kaua Enterprises Ltd, that offers a set of skills and expertise to those who seek them. They also moved into the hospitality business in managing a hotel on the East Coast and establishing the East Coast Maori Tourism Association that attracted 75 members, before selling up and moving back to Wellington. The private sector enabled him to enhance his existing skills in the fields of hapu/iwi business development, community, health, tourism, and education services.</p>
        <p>Currently Bill works for Te Kōhanga Reo National Trust, in their national office Wellington. He was one of the team of officers in the Department of Maori Affairs, that was responsible for the establishment of Te Kohanga Reo movement throughout the country during the 1980s.</p>
        <p>The unique value he can add to any organisation, is his thorough understanding of the machinery of government and the subsequent bureaucratic and legislative requirements needed. In addition to this, his exceptional competence and native ability to korero Maori and practice tikanga Maori provides him with the advantage to find the right balance between Maori and mainstream issues as they arise.</p>
        <p>Bill has served, and is serving as a member on various Boards, Trusts, and advisory committees, and is currently the chair of three trusts.</p>
        <p>Added to his persona, he is a practising part time priest, an Archdeacon in Te Tikanga Māori Haahi Mihingare (Anglican) Church, Wellington, having assisted as kaikarakia for many years in different Diocese around the motu.</p>
        <p>He was appointed as a Justice of the Peace in 2007.</p>
        <p>Wiremu is an avid Hurricanes and All Black rugby fan, a social golfer, loves reading, and loves chilling out at home with his wife.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:bill@kohanga.ac.nz">bill@kohanga.ac.nz</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Ko Terry Orchard toku ingoa - Ko Ngāti Pakeha te iwi whānui ki Aerani ki Kōtorania</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>Having lived all my life in Te Whanganui-a- Tara, I began my working life as Police Officer but during the 80 and 90’s am probably better known as the voice of Basketball for radio and television. Currently, I work for the global risk management and insurance brokers Marsh Ltd where focus on business development and head the Māori business team.</p>
        <p>I live with my partner Jenny and between us we have four tamariki and two mokopuna. My sporting love and passion is Basketball have played, coached and owned the wellington Saints. Presently, my spare time is spread between my interests in golf and horse racing and my study of Te Ara Reo Māori which I am completing through Te Wānanga o Aotearoa (currently studying level 4).</p>
        <p>I joined Te Awe to help grow my networks and contacts within Te Ao Māori however it quickly grew beyond that providing long lasting frienships. When asked to join the golf committee and subsequently the board, saying yes was the obvious answer. It was my opportunity to give back as a way of acknowledging those who have so unselfishly supported me and invited me into their networks...... kia koutou katoa... Tēnā Koe.</p>
        <p>I have been tasked alongside Donyale Hema with re-engineering sponsorship opportunites and partnering Matua Doug Hauraki organising the annual golf tournament.</p>
        <p>Mahara....Whāia te pae tawhiti kia tata, whāia to pae tata kia maua</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 021 825 716 </span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:terry.orchard@marsh.com">terry.orchard@marsh.com</a></strong></span></p>
  <hr>
</div>

<div class="committee-member-item">
  <h5><strong>Christina Leef</strong></h5>
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><strong>VIEW PROFILE</strong></a>
      <div class="accordion-content" data-tab-content>
        <p>He uri tenei no Te Rarawa me Kuki Airani. Ko Christina Leef ahau.</p>
        <p>I have a background in commerce with a specific focus on Māori business and Indigenous entrepreneurship. My work background has been in finance for over 5 years and in the last year and a half I left the finance world, worked on a start up developing a innovative medical device that locates veins, contracted to organize experiences/events. I now work for Māori Womens Development Inc. who support wahine Māori and their whānau in business.</p>
        <p>My drive is amplify and support the voice, development and growth of rangatahi indigenous within the entrepreneurial ecosystem.</p>
      </div>
    </li>
  </ul>
  <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 021 068 2169 </span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cmleef@gmail.com">cmleef@gmail.com</a></strong></span></p>
  <hr>
</div>
