// breadcrumbs
.article-item-breadcrumbs {
  margin-top: rem-calc(30);
}

// main-body article-item
.article-item {
  min-height: 100vh;
  p, li {
    font-size: rem-calc(18);
  }
  .article-item-body {
    margin-bottom: rem-calc(120);
  }
}
