.breadcrumb-container {
  background: lighten($light-gray, 5%);
  .breadcrumbs {
    margin-top: rem-calc(0);
    padding: rem-calc(15) 0;
    li {
      font-weight: bold;
    }
    li:after {
      color: $black;
    }
  }
}
