.calendar {
  .calendar-heading {
    color: $white;
  }

#wp-calendar {
  caption {
    color: $white;
    background: $te_awe_red;
  }
  tbody {
    td {
      padding: rem-calc(2);
      text-align: center;
    }
    td:hover {
      background: $dark-gray;
      transition: background 0.5s;
      color: $white;
      cursor: pointer;
    }
    td:first-of-type:hover {
      background: $white;
    }
    td:last-of-type:hover {
      background: $white;
    }
  }
  .day {
    color: $te_awe_red;
    font-weight: bold;
  }
  .day:hover {
    color: $white;
  }
  .notice {
    background: $light-gray;
  }
  .notice:hover {
    background: $te_awe_red !important;
  }

}

  tfoot {
    td {
      background: $dark-gray;
    }
    #next {
      text-align: right;
    }
  }
}
