.highlights-section {
  margin-bottom: rem-calc(60);
  h3 {
    margin-top: rem-calc(15);
  }
  .kowhai-icon {
    img {
      width: rem-calc(40);
      transform: translateY(-5px);
    }
    padding-right: rem-calc(10);
  }
}


@media screen and (min-width: 40em) {
  .feature-light-article {
    padding-right: rem-calc(30)
  }
  .highlights-section {
    h3 {
      margin-top: rem-calc(0);
    }
  }
}
