.highlights-section {
  margin-bottom: rem-calc(60);
  h3 {
    margin-top: rem-calc(15);
  }
}


@media screen and (min-width: 40em) {
  .feature-light-article {
    padding-right: rem-calc(30)
  }
  .highlights-section {
    h3 {
      margin-top: rem-calc(0);
    }
  }
}
