/* main styling */

.main-navigation {
  background: $te_awe_red;
  top: 0;
  position: absolute;
  height: rem-calc(60);
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;

  .top-navigation-bar {
    display: flex;
    justify-content: space-between;
    height: rem-calc(108);
    width: 100%;
    background: $white;

    .top-nav-left {
      img {
        padding: rem-calc(20);
      }
    }
    .top-nav-right {
      display: flex;
      align-items: center;

      input, button, ul {
        margin-bottom: 0;
      }
      .top-nav-items {
        display: flex;
        align-items: center;
        margin-right: rem-calc(-10);
        span {
          margin-right: rem-calc(30);
        }
        a:hover {
          color: $te_awe-red;
        }
        button {
          margin-left: rem-calc(10);
        }
        input {
          border-radius: $border-radius;
        }
        .search-btn  {
          background: $te-awe-red;
          border-radius: $border-radius;
          font-weight: bold;
          text-transform: uppercase;
          width: rem-calc(120);
        }
        .search-btn:hover {
          background: darken($te-awe-red, 10%);
        }
      }
    }
  }

  .bottom-navigation-bar {
    background: $te_awe_red;
    width: 100%;
    height: rem-calc(60);
    li {
      float: left;
      font-weight: bold;
      z-index: 100;
    }

    li a,
    .dropdown-btn {
      display: inline-block;
      color: $white;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
    }

    li a:hover {
      color: $white;
    }
  }

  .maori-pattern-banner {
    position: relative;
    img {
      height: rem-calc(60);
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
  }

  .main-menu {
    float: right;
    position: relative;
    z-index: 100;

  }

  .show-menu {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-left: 15%;
      overflow: hidden;
      transform: translateX(-10%);
      margin-top: rem-calc(-12);
      width: 120%;
      background: $te_awe_red;
      li {
        font-size: rem-calc(20);
      }
      a:hover {
        text-decoration: underline;
      }
    }


  /*  burger navigation icon with cross effects*/

  #burger-container {
    position: relative;
    display: none;
    margin-top: 10px;
    float: right;
  }

  #burger {
    cursor: pointer;
    display: block;
  }

  #burger span {
    background: #fff;
    display: block;
    height: 5px;
    width: 50px;
    margin-bottom: 3px;
    position: relative;
    transitions: all ease-in-out 0.4s;
    transform: translateY(rem-calc(-5));
  }


  /* open class - toggle using jquery*/
  #burger-container.open span:nth-child(2),
  #burger-container.open span:nth-child(3) {
    width: 0;
    /* collapse 2nd and 3rd span*/
    opacity: 0;
  }

  /*makes the 1st and 4th span cross over each other*/
  #burger-container.open span:nth-child(4) {
    transform: rotate(45deg);
    top: -10px;
  }

  #burger-container.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
  }


  /* media queries for responsiveness */

  @media only screen and (max-width: rem-calc(780)) {
    /* displays the burger nav   */
    #burger-container {
      display: block;
      margin: 20px;
    }
    /* open and close toggle  */
    nav ul {
      height: 0;
    }
    .show {
      height: 18em;
    }
    /*  moves the content down the screen to give way to the nav  */
    .move {
      position: relative;
      top: 22em;
    }
    /*  nav items  */
    nav ul li {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

@media screen and (min-width: rem-calc(780)) {
  .main-navigation {
    nav ul {
      background: none;
      margin-top: rem-calc(5);
      li {
        font-size: rem-calc(18);
        height: rem-calc(55);
      }
      a:hover {
        text-decoration: none;
      }
      .menu-item-under:hover {
        padding-bottom: 16px;
        border-bottom: 3px solid $white;
      }
    }
    .bottom-navigation-bar {
      .maori-pattern-banner {
        img {
          display: initial;
        }
      }
    }
  }
}
