.main-footer {
  background: $black;
  // background: darken($te_awe_red, 25%);
  padding: rem-calc(30) 0;
  img {
    margin-bottom: rem-calc(30);
  }
  p, a {
    color: $white;
  }
  li {
    color: $white;
    font-weight: bold;
    margin-bottom: rem-calc(10);
    margin-bottom: rem-calc(3);
  }
  li:hover {
    a {
      color: $te_awe_red;
    }
  }
  li:first-of-type {
    a {
      padding-left: 0px;
    }
  }

  //social-footer
  .footer-social {
    p {
      color: $white;
      margin-bottom: rem-calc(5);
      font-size: rem-calc(14);
    }
    .menu {
      a {
        width: rem-calc(50);
        padding: 0 rem-calc(10) rem-calc(5) 0;
      }
    }
  }

  .footer-copy-right {
    font-size: rem-calc(14);
  }
  .contact-us {
    color: $white;
  }
  .contact-us:hover {
    color: $te_awe_red;
  }

  .horizontal-ruler-thin-footer {
    background: $white;
    margin: rem-calc(10) 0 rem-calc(10) 0;
    height: 2px;
  }

}
