.membership-information {
  min-height: 100vh;
  margin: rem-calc(30) 0;
  p, li {
    font-size: rem-calc(18);
  }
  li {
    margin-bottom: rem-calc(10);
  }

  .membership-pricing-body {
    p {
      padding: rem-calc(15);
      background: $light-gray;
      margin-bottom: rem-calc(5);
    }
  }

  .membership-join {
    .application-form {
      margin-top: rem-calc(30);
    }
    margin: rem-calc(40) 0;
  }
}
