.membership-information {
  min-height: 100vh;
  margin: rem-calc(30) 0;

  .membership-information-body {
    p {
      font-size: rem-calc(18);
    }
  }

  .membership-pricing-body {
    p {
      padding: rem-calc(15);
      background: $light-gray;
      margin-bottom: rem-calc(5);
    }
  }

  .membership-join {
    .application-form {
      margin-top: rem-calc(30);
      a {
        padding: rem-calc(15);
        background: $te_awe-red;
        color: $white;
        border-radius: rem-calc(3);
        font-weight: bold;
      }
    }
    margin: rem-calc(40) 0;
  }
}
