.ycp-interest {
  .ycp-interest-form {
    input {
      border-radius: $border-radius;
    }
    label, legend {
      font-weight: bold;
    }
    span {
      color: $te_awe_red;
      font-size: rem-calc(18);
      font-weight: bold;
    }
  }
  .registration-payment {
    background: lighten($light-gray, 4%);
    padding: rem-calc(15);
    border-radius: $border-radius;
    margin-bottom: rem-calc(30);
    p {
      margin-bottom: rem-calc(5);
    }
    p:nth-of-type(2) {
      font-size: rem-calc(20);
    }
  }
  .privacy-statement {
    p {
      font-size: rem-calc(14);
    }
  }
}
