.subscribe-section {
  padding: rem-calc(50) 0px;
  background: $te-awe-red;
  h1, p {
    color: $white;
  }
}

// button
.subscribe-btn {
  background: darken($te-awe-red, 20%);
  width: rem-calc(180);
}
