.subscribe-section {
  padding: rem-calc(20) 0px;
  background: $te-awe-red;
  h2, p {
    color: $white;
  }
  .subscribe-form {
    input {
      border: none;
      border-radius: rem-calc(2);
    }
  }
}
