.who-are-we {
  p {
    font-size: rem-calc(18);
  }
}

.who-are-we-body {
  margin-bottom: rem-calc(10) !important;
}

.management-committee {
  .committee-member-item {
    span {
      margin-right: rem-calc(15);
    }
    i {
      margin-right: rem-calc(4);
    }
  }
}

.committee-member-contact {
  a {
    color: $te_awe-red;
  }
}

.committee-member-header {
  margin-bottom: rem-calc(30);
}

.interesting-links {
  li {
    background: $light-gray;
    border-bottom: rem-calc(2) solid $white;
    text-align: center;
    padding: rem-calc(10);
  }
  li:hover {
    background: $dark-gray;
    a {
      color: $white;
    }
  }
}

.application-form {
  margin-bottom: rem-calc(30);
}

.committee-member-item {
  img {
    margin-bottom: rem-calc(20);
  }
}

@media screen and (min-width: 40em) {
  .who-are-we-body {
    margin-bottom: rem-calc(40) !important;
  }
}
