
  <div class="cell large-3 medium-3 small-12">
    <img src="http://via.placeholder.com/200x300" alt="" class="">
  </div>
  <div class="cell large-9 medium-9 small-12">
    <h5><strong>Tiamana - Wayne Johnston</strong></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex libero aut expedita, explicabo laborum assumenda deserunt? Aut harum maiores, natus eum velit et dolor culpa pariatur, repellat quaerat veritatis ducimus?.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit labore error, id molestias! Eaque non, harum aut nulla ipsa, fuga sunt, autem eos laudantium in sint distinctio est iste similique.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor explicabo consequuntur nostrum illo quasi rerum, numquam saepe est quas similique odit laborum dolorem sint doloribus, dolore soluta odio officiis fugiat!</p>
    <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 2186</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:paul@manaakitanga.co.nz">paul@manaakitanga.co.nz</a></strong></span></p>
    <hr>
  </div>

  <div class="cell large-3 medium-3 small-12">
    <img src="http://via.placeholder.com/200x300" alt="" class="">
  </div>
  <div class="cell large-9 medium-9 small-12">
    <h5><strong>Tiamana - Paul Retimanu</strong></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit optio rem provident laborum iusto voluptas est, molestiae repudiandae. Quis ut, officia asperiores voluptatibus impedit dolorum cupiditate quo rerum? Ex!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, odio, recusandae. Commodi maiores, veniam amet autem similique voluptas expedita, officiis, sint obcaecati distinctio, optio saepe quod pariatur et architecto. Ullam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vitae, id repellendus. Nemo commodi perspiciatis aut hic quaerat officia quae, dicta consequatur vel enim laborum maxime, quo vero, eveniet iure.</p>
    <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 2186</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:paul@manaakitanga.co.nz">paul@manaakitanga.co.nz</a></strong></span></p>
    <hr>
  </div>

  <div class="cell large-3 medium-3 small-12">
    <img src="http://via.placeholder.com/200x300" alt="" class="">
  </div>
  <div class="cell large-9 medium-9 small-12">
    <h5><strong>Nga Tarati – Jamie Williams</strong></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit optio rem provident laborum iusto voluptas est, molestiae repudiandae. Quis ut, officia asperiores voluptatibus impedit dolorum cupiditate quo rerum? Ex!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, odio, recusandae. Commodi maiores, veniam amet autem similique voluptas expedita, officiis, sint obcaecati distinctio, optio saepe quod pariatur et architecto. Ullam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vitae, id repellendus. Nemo commodi perspiciatis aut hic quaerat officia quae, dicta consequatur vel enim laborum maxime, quo vero, eveniet iure.</p>
    <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 ????</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:wayne@avmedia.co.nz">Jamie. Williams@email.com</a></strong></span></p>
    <hr>
  </div>

  <div class="cell large-3 medium-3 small-12">
    <img src="http://via.placeholder.com/200x300" alt="" class="">
  </div>
  <div class="cell large-9 medium-9 small-12">
    <h5><strong>Nga Tarati – Jamie Williams</strong></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit optio rem provident laborum iusto voluptas est, molestiae repudiandae. Quis ut, officia asperiores voluptatibus impedit dolorum cupiditate quo rerum? Ex!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, odio, recusandae. Commodi maiores, veniam amet autem similique voluptas expedita, officiis, sint obcaecati distinctio, optio saepe quod pariatur et architecto. Ullam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vitae, id repellendus. Nemo commodi perspiciatis aut hic quaerat officia quae, dicta consequatur vel enim laborum maxime, quo vero, eveniet iure.</p>
    <p class="committee-member-contact"><span><strong><i class="fa fa-phone" aria-hidden="true"></i> 027 451 ????</span><span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="#">Wayne. Mulligan@email.com</a></strong></span></p>
    <hr>
  </div>
