<div class="grid-container feature-article-section">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 medium-6 large-4">
        <div class="feature-article-image">
          <a href=""><img class="image-fade" src="../assets/img/gallery_images/600x300_01.jpg" alt=""></a>
          <span id="image-red-bar"></span>
        </div>
        <a href=""><h3>Te Awe Post Budget Breakfast for 2017</h3></a>
        <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, please register to attend.</p>
      </div>

      <div class="cell small-12 medium-6 large-4">
        <div class="feature-article-image">
          <a href=""><img class="image-fade" src="../assets/img/gallery_images/600x300_04.jpg" alt=""></a>
          <!-- <span class="label event">EVENT</span> -->
        </div>
        <a href=""><h3>Te Awe Christmas function 2017</h3></a>
        <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
      </div>

      <div class="cell small-12 medium-6 large-4">
        <div class="feature-article-image">
          <a href=""><img class="image-fade" src="../assets/img/gallery_images/600x300_02.jpg" alt=""></a>
          <!-- <span class="label upcoming">UPCOMING</span> -->
        </div>
        <a href=""><h3>Te Awe Pasifika Business Start Up</h3></a>
        <p>Held on Thursday the 15th October, this was the second Te Awe / Pasifika joint function to be run. Like the first event.</p>
      </div>
    </div>
</div>
