<div class="grid-container feature-article-section">
  <hr>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 medium-6 large-4">
        <a href=""><img src="https://unsplash.it/600/300?random" alt=""></a>
        <a href=""><h3>Te Awe Post Budget Breakfast 2016</h3></a>
        <p class="post-date"><strong>Posted on 20 May 2016</strong></p>
        <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <a href=""><img src="https://unsplash.it/600/300?random" alt=""></a>
        <h3><strong>Annual Te Awe Golf Tournament is Here!</strong></h3>
        <p><small>Posted on 16 November 2015</small></p>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <a href=""><img src="https://unsplash.it/600/300?random" alt=""></a>
        <h3><strong>Photos from Te Awe Golf Day</strong></h3>
        <p><small>Posted on 9 December 2015</small></p>
      </div>
    </div>
</div>
