<div class="grid-container highlights-section">
  <div class="horizontal-ruler" style="height: 3px"></div>
  <div class="grid-x grid-margin-x">
    <div class="cell larger-12">
      <h2>Te Awe's latest news, articles and publications.</h2>
      <div class="horizontal-ruler-thin"></div>
    </div>

    <div class="large-8 cell feature-light-article">
      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><img class="image-fade" src="https://unsplash.it/600/400?random" alt=""></a>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><h3>Te Awe Post Budget Breakfast 2016</h3></a>
              <p class="post-date"><strong>Posted on 20 May 2016</strong></p>
              <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
            </div>
          </div>
      </div>
      <hr>
      <div class="grid-x grid-margin-x">
        <div class="large-6 medium-6 cell">
          <div>
            <a href=""><img class="image-fade" src="https://unsplash.it/600/400?random" alt=""></a>
          </div>
        </div>
        <div class="large-6 medium-6 cell">
          <div>
            <a href=""><h3>Te Awe Post Budget Breakfast 2016</h3></a>
            <p class="post-date"><strong>Posted on 20 May 2016</strong></p>
            <p>Te Awe, in conjunction with the Hon Bill English, Minister of Finance and Mr Kevin Lavery, Chief Executive Wellington City Council.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- rest of news / side section-->

    <div class="large-4 cell">
      <aside>
        <div>
          <h5 style="font-weight: bold">How can India prepare its workers for the jobs of the future?</h5>
          <p class="post-date"><strong>Sally Barns</strong> 16 November 2015</p>
          <hr>
        </div>

        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong>Posted on 16 November 2015</p>
          <hr>
        </div>
        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong><small>Posted on 16 November 2015</small></p>
          <hr>
        </div>
        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong><small>Posted on 16 November 2015</small></p>
          <hr>
        </div>
        <div class="view-all-news-items">
          <p><a href=""><strong>View All  </strong></a><i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
      </aside>
    </div>


  </div>
</div> <!-- end of main grid containter -->
