<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-8 cell">

      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><img src="https://unsplash.it/600/400?random" alt=""></a>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <h2><strong>Annual Te Awe Golf Tournament is Here!</strong></h2>
              <p><small>Posted on 16 November 2015</small></p>
            </div>
          </div>
      </div>

      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><img src="https://unsplash.it/600/400?random" alt=""></a>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <h2><strong>Annual Te Awe Golf Tournament is Here!</strong></h2>
              <p><small>Posted on 16 November 2015</small></p>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
