<div class="grid-container highlights-section">
  <div style="height: 3px; background: #000; margin-top: 15px; margin-bottom: 30px;"></div>


  <div class="grid-x grid-margin-x">

    <div class="cell larger-12">
      <h3>TE AWE - CONNECTING MAORI PEOPLE IN BUSINESS SINCE 1996</h3>
      <hr>
    </div>

    <div class="large-8 cell">
      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><img src="https://unsplash.it/600/400?random" alt=""></a>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <h3>Annual Te Awe Golf Tournament is Here!</h3>
              <p>Lorem ipsum dolor sit amet,incidunt excepturi asperiores numquam explicabo?</p>
              <p><strong>Posted on 16 November 2015</strong></p>
            </div>
          </div>
      </div>
      <hr>
      <div class="grid-x grid-margin-x">
          <div class="large-6 medium-6 cell">
            <div>
              <a href=""><img src="https://unsplash.it/600/400?random" alt=""></a>
            </div>
          </div>
          <div class="large-6 medium-6 cell">
            <div>
              <h2><strong>Annual Te Awe Golf Tournament is Here!</strong></h2>
              <p><small>Posted on 16 November 2015</small></p>
            </div>
          </div>
      </div>
    </div>

    <div class="large-4 cell">
      <aside>
        <div>
          <h5 style="font-weight: bold">How can India prepare its workers for the jobs of the future?</h5>
          <p class="post-date"><strong>Sally Barns</strong> 16 November 2015</p>
          <hr>
        </div>

        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong>Posted on 16 November 2015</p>
          <hr>
        </div>
        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong><small>Posted on 16 November 2015</small></p>
          <hr>
        </div>
        <div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
          <p><strong>Sally Barns</strong><small>Posted on 16 November 2015</small></p>
          <hr>
        </div>
        <div class="view-all-news-items">
          <p><a href=""><strong>View All  </strong></a><i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
      </aside>
    </div>


  </div>
</div> <!-- end of main grid containter -->
