<div class="full-width-section kaupapa">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12 kaupapa-heading">
        <h3>KAUPAPA</h3>
      </div>
      <!-- <div class="cell large-12 kaupapa-heading">
        <h5>1. KAUPAPA</h5>
        <p>Capacity with our networking, making connections and relationships through quarterly events.</p>
        <h5>2. WHAI WHAKAARO</h5>
         <p>Creative information, experiences and ideas.</p>
        <h5>3. KO AU, KO KOE</h5>
        <p>Relating to others is about interacting effectively with a diverse range of people.</p>
      </div> -->
      <div class="cell large-4 first-box">
        <h4>1. TUKU ATU, TUKU MAI</h4>
         <p>Capacity with our networking, making connections and relationships through quarterly events.</p>
      </div>
      <div class="cell large-4 second-box">
        <h4>2 .WHAI WHAKAARO</h4>
         <p>Creative information, experiences and ideas.</p>
      </div>
      <div class="cell large-4 third-box">
        <h4>3. KO AU, KO KOE</h4>
         <p>Relating to others is about interacting effectively with a diverse range of people.</p>
      </div>
      <div class="cell large-12 kaupapa-into">
        <h4>Te Awe Wellington Maori Business Network is dedicated to encouraging and promoting business enterprises in the Te Whanganui a Tara / Wellington rohe through highly effective networking hui and manaakitanga.</h4>
      </div>
    </div>
  </div>
</div>
