<!-- top-bar navigation -->
<div class="main-hero-container">
  <div class="grid-container">
    <div class="grid-container" style="height: 75vh">
      <div class="grid-x grid-padding-x align-middle" style="height:100%">
        <div class="large-12 cell hero-content">
            <h4>te awe wellington m&#256;ori business network</h4>
            <h1>The future's so <br>bright</h1>
            <p class="maori-pattern"><img src="../assets/img/maori-pattern.svg" alt="Moari pattern"></p>
            <p><strong>This site is under construction. Please subscribe to our <br>P&#257;nui to be the first to know</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
