<!-- top-bar navigation -->
<div class="main-hero-container">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-middle">
        <div class="large-12 cell hero-content">
            <h4 class="text-center">te awe wellington m&#256;ori business network</h4>
            <h1 class="text-center">The future's so <br>bright</h1>
            <p class="text-center"class="maori-pattern"><img src="../assets/img/maori-pattern.svg" alt="Moari pattern"></p>
            <p class="text-center"><strong>Nau mai Haere Mai to the Te Awe Wellington Maori Business Network</strong></p>
        </div>
      </div>
    </div>
</div>
