<div class="main-footer">
  <div class="grid-container">
    <grid-x class="grid-margin-x">
      <p>Te Awe Wellington Maori Business Network (Inc), P O Box 24107, Manners Mall, Wellington. For more information phone Ty Kahu on 021 2765995</p>
      <p class="maori-pattern"><img src="../assets/img/maori-pattern.svg" alt="Moari pattern"></p>
      <div class="social">
        <ul class="menu">
          <li class="social-icon social-text red"><a style="color: #d52f27; transform: translateY(1px)" href="mailto:admin@teawe.maori.nz"><strong>contact</strong></a></li>
          <li class="social-text">|</li>
          <li class="social-text"><strong>share on</strong></li>
          <li class="social-icon"><a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fteawe.maori.nz%2F&amp;t=Nau+mai+Haere+Mai+to+the+Te+Awe+Wellington+Maori+Business+Network+website"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
          <li class="social-icon"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fteawe.maori.nz%2F&amp;title=Nau+mai+Haere+Mai+to+the+Te+Awe+Wellington+Maori+Business+Network+website.&amp;source=http://teawe.maori.nz/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
          <li class="social-icon"><a href="http://twitter.com/home?status=currently+reading%3A+http%3A%2F%2Fteawe.maori.nz%2F"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
      </ul>
      </div>
    </grid-x>
  </div>
</div>
