<!-- <div class="top-bar">
    <div class="top-bar-left">
      <a href="http://www.teawe.maori.nz"><img src="../assets/img/Te_Awe_logo.svg" alt="Te Awe logo"></a>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
          <li><a href="">memberhip</a></li>
          <li><a href="">search</a></li>
          <li><a href="">search</a></li>
        </ul>
    </div>
  </div> -->

<div class="main-navigation">
  <nav>
    <div class="grid-container">
      <div class="grid-x grid-margin-x navigation-bar align-middle">
        <div class="cell large-4 nav-logo">
          <a href="http://www.teawe.maori.nz"><img src="../assets/img/Te_Awe_logo.svg" alt="Te Awe logo"></a>
        </div>
        <div class="cell large-8 small-12">
          <div class="grid-x">
            <div class="cell large-12">
              <ul class="menu align-right" id="top-menu">
                <li><a href="#"><span class="underline-menu">Who we are</span></a></li>
                <li><a href="#"><span class="underline-menu">Te Awe news</span></a></li>
                <li><a href="./contact.html"><span class="underline-menu">Contact</span></a></li>
                <li><span class="menu-pipe">|</span></li>
                <li><a href="#"><span class="underline-menu">Membership</span></a></li>
                <li class="search-icon"><a href=""><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="bottom-bar">
  <div class="grid-container">

  </div>
</div>
