<div class="main-hero-container">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-middle">
        <div class="large-12 cell hero-content">
          <h3 class="text-center">A matou mahi - Our work</h3>
          <h1 class="text-center">MOEMOEA</h1>
            <h2 class="text-center">Shaping the future for M&#257;ori business</h2>
            <center>
              <div class="maori-pattern">
                <img src="../assets/img/maori-pattern.svg" alt="Moari pattern">
              </div>
            </center>
        </div>
      </div>
    </div>
</div>
