<div class="main-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      <div class="cell large-12">
        <a href="http://www.teawe.maori.nz"><img src="../assets/img/Te_Awe_logo_white.svg" alt="Te Awe logo"></a>
      </div>

      <div class="cell large-4 small-12">
        <p>Te Awe Wellington Maori Business Network (Inc), P O Box 24107, Manners Mall, Wellington.</p>
        <p>For more information contact: <br> <strong>Ty Kahu</strong> on <strong>021 276 5995</strong></p>
        <div class="maori-footer-pattern">
          <img src="../assets/img/maori-pattern.svg" alt="Moari pattern">
        </div>
        <p>&copy; 2017 Te Awe | Wellington M&#257;ori Business Network</p>
      </div>
      <div class="cell large-4 small-12">
        <ul class="footer-menu">
          <li><a href="#">home</a></li>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Te Awe news</a></li>
          <li><a href="#">Galleries</a></li>
        </ul>
      </div>

      <div class="cell large-4 small-12">
        <a href="" class="button">CONTACT</a>
        <div class="main-footer-bottom">
          <div class="social">
            <ul class="menu">
              <li class="social-icon"><a href=""<i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
              <li class="social-icon"><a href=""><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
              <li class="social-icon"><a href=""><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
