<header>

<nav>


  <div class="main-navigation">

    <div class="top-navigation-bar">
      <div class="grid-container top-navigation-bar">
        <div class="top-nav-left">
          <a class="nav-logo" href="./index.html"><img src="../assets/img/Te_Awe_logo.svg" alt="Te Awe logo"></a>
        </div>
        <div class="top-nav-right">
          <div class="top-nav-items">
            <input type="search" placeholder="Search">
            <button type="button" class="button search-btn">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-navigation-bar">
      <div class="maori-pattern-banner">
        <img src="../assets/img/maori_pattern_banner.png" alt="pattern banner">
      </div>
      <div class="grid-container">
        <div id="burger-container">
          <div id="burger">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
          </div>
        </div>
      <!--  nav items    -->
        <ul class="main-menu">
          <ul class="main-menu simple vertical medium-horizontal">
            <li><a href="./who_are_we.html"><span class="menu-item-under">Who are we</span></a></li>
            <li><a href="./te_awe_news.html"><span class="menu-item-under">Te Awe news</span></a></li>
            <li><a href="./young_champions_programme.html"><span class="menu-item-under">Young Champions Programme</span></a></li>
            <li><a href="./membership.html"><span class="menu-item-under">Membership</span></a></li>
            <li><a href="./contact.html"><span class="menu-item-under">Contact</span></a></li>
          </ul>
        </ul>
      </div>
    </div>



  </div>


</nav>
</header>
