<div class="main-navigation">
  <div class="grid-container">
    <header>
      <nav class="navbar">
        <a class="brand" href="http://www.teawe.maori.nz"><img src="../assets/img/Te_Awe_logo_allwhite.svg" alt="Te Awe logo"></a>
        <a href="#" class="toggle"><i class="fa fa-reorder"></i> Menu</a>
        <div class="right">
          <ul class="right-menu">
            <li><a href="./about.html" class="link"><span class="underline-menu">Who we are</span></a></li>
            <li><a href="./te_awe_news.html" class="link"><span class="underline-menu">Te Awe news</span></a></li>
            <li><a href="./membership.html" class="link"><span class="underline-menu">Membership</span></a></li>
            <li><a href="./contact.html" class="link"><span class="underline-menu">Contact</span></a></li>
            <li class="search-icon"><a href="" class="link"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>
