<div class="main-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      <div class="cell large-12">
        <a href="http://www.teawe.maori.nz"><img src="../assets/img/Te_Awe_logo_white.svg" alt="Te Awe logo"></a>
      </div>

      <div class="cell large-6 small-12">
        <p>Te Awe Wellington Maori Business Network (Inc), P O Box 24107, Manners Mall, Wellington, New Zealand.</p>
        <p>For more information contact: <br> <strong>Kaimahi - Executive Officer – Natalie</strong> on <strong>(04) 388 2152</strong></p>
        <p class="footer-copy-right">&copy; 2017 Te Awe | Wellington M&#257;ori Business Network</p>
      </div>

      <!-- <div class="cell large-3 small-12">
        <ul class="no-bullet">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">Who we are</a></li>
          <li><a href="./te_awe_news.html">Te Awe news</a></li>
          <li><a href="./young_champions_programme.html">Young Champions Programme</a></li>
          <li><a href="./membership.html">Membership</a></li>
        </ul>
      </div> -->

      <div class="cell large-3 small-12">
        <a href="contact.html" class="contact-us"><strong>Contact us</strong/></a>
        <div class="horizontal-ruler-thin-footer"></div>
        <div class="footer-social">
          <p>Connect with us</p>
          <ul class="menu">
            <li><a href="#"><img src="../assets/img/social/facebook.svg" alt="Facebook share icon"></a></li>
            <li><a href="#"><img src="../assets/img/social/twitter.svg" alt="Twitter share icon"></a></li>
            <li><a href="#"><img src="../assets/img/social/linkedin.svg" alt="LinkedIn share icon"></a></li>
          </ul>
        </div>
      </div>

      <div class="cell large-3 small-12">
        {{> calendar}}
      </div>

    </div>
  </div>
</div>
