<header>
  <nav class="main-navigation">


      <div class="grid-container top-navigation-bar">
        <div class="top-nav-left">
          <a class="nav-logo" href="./index.html"><img src="../assets/img/Te_Awe_logo.svg" alt="Te Awe logo"></a>
        </div>
        <div class="top-nav-right">
          <ul class="top-nav-items no-bullet">
            <!-- <li><a class="button registration-btn" href="./register.html" ><span><strong>Register</strong></span></a></li> -->
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button search-btn">Search</button></li>
          </ul>
        </div>
      </div>

      <div class="bottom-navigation-bar-container">
        <div class="maori-pattern-banner">
          <img src="../assets/img/maori_pattern_banner.png" alt="pattern banner">
        </div>
        <div class="grid-container nav-botttom-bar">
          <ul class="bottom-nav-menu no-bullet">
            <li><a href="./who_are_we.html"><span>Who are we</span></a></li>
            <li><a href="./te_awe_news.html"><span>Te Awe news</span></a></li>
            <li><a href="./young_champions_programme.html"><span>Young Champions Programme</span></a></li>
            <li><a href="./membership.html" ><span><strong>Membership</strong></span></a></li>
            <li><a href="./contact.html"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
