<div class="subscribe-section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">

      <div class="cell large-12">
        <h3 class="text-center">Subscribe to our P&#257;nui</h3>
        <p class="text-center lead">A monthly newsletter of what's on our agenda.</p>
        <div class="grid-x grid-margin-x align-center subscribe-form">
          <div class="cell large-6">
            <input type="text" placeholder="Email" />
          </div>
          <div class="cell large-2">
            <a class="button subscribe-btn" href="#"><strong>Subscribe</strong></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
