<!-- <div class="full-width-section section-blurb">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h5 class="text-center">We are an inclusive organisation who welcome new members. We invite you to explore the benefits that membership brings through sharing experience and knowledge.</h5>
      </div>
    </div>
  </div>
</div> -->

<div class="full-width-section section-blurb">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12">
        <h1>KAUPAPA</h1>
      </div>
      <div class="cell large-4 first-box">
        <h4>TUKU ATU, TUKU MAI</h4>
         <p>Capacity with our networking, making connections and relationships through quarterly events.</p>
      </div>
      <div class="cell large-4 second-box">
        <h4>WHAI WHAKAARO</h4>
         <p>Creative information, experiences and ideas.</p>
      </div>
      <div class="cell large-4 third-box">
        <h4>KO AU, KO KOE</h4>
         <p>Relating to others is about interacting effectively with a diverse range of people.</p>
      </div>
      <div class="cell large-12">
        <p>Te Awe Wellington Maori Business Network is dedicated to encouraging and promoting business enterprises in the Te Whanganui a Tara / Wellington rohe through highly effective networking hui and manaakitanga</p>
      </div>
    </div>
  </div>
</div>
