<div class="subscribe-section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle" style="height: 250px">

      <div class="cell large-12">
        <h2 class="text-center">Subscribe to our P&#257;nui</h2>
        <p class="text-center">A monthly newsletter of what's on the our agenda.</p>

        <div class="grid-x grid-margin-x align-center ">
          <div class="cell large-3">
            <input type="text" placeholder="Please enter name" />
          </div>
          <div class="cell large-3">
            <input type="text" placeholder="Email" />
          </div>
          <div class="cell large-2">
            <a class="button subscribe-btn" href="#">subscribe</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
