<h3 style="color: #fff">Calendar</h3>
<div id="calendar_wrap">
  <table id="wp-calendar">
    <caption style="color: #fff">NOVEMBER 2017</caption>
    <thead>
      <tr>
        <th scope="col" title="Monday">M</th>
        <th scope="col" title="Tuesday">T</th>
        <th scope="col" title="Wednesday">W</th>
        <th scope="col" title="Thursday">T</th>
        <th scope="col" title="Friday">F</th>
        <th scope="col" title="Saturday">S</th>
        <th scope="col" title="Sunday">S</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="3" id="prev"><a href="#" title="">&laquo; Oct</a></td>
        <td class="pad">&nbsp;</td>
        <td colspan="3" id="next" class="pad"><a href="#" title="">Dec &raquo;</a></td>
      </tr>
    </tfoot>

    <tbody>

      <tr>
        <td colspan="2" class="pad">&nbsp;</td>
        <td>1</td>
        <td id="today">2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>

      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>

      </tr>
      <tr>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
      </tr>
      <tr>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td class="notice item-8"><a class="day" href="#">26</a>

        </td>
      </tr>
      <tr>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td colspan="2" class="pad">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <!-- <span class="notice-message item-8"  >
  <a href="#"  class="close">[x]</a>
  <strong>Sunday, 26 November, 2017</strong> <br/> Annual General Meeting @ Motueka High School<br/>
  <a target="_blank" href="http://www.teatiawatrust.co.nz/documents/Panui/First%20Notice%20of%20Election%202017.pdf">Read more here &raquo;</a>
  </span> -->
</div>
